# Unity
*.cs text eol=lf
*.shader text eol=lf
*.cginc text eol=lf
*.hlsl text eol=lf
*.glsl text eol=lf
*.compute text eol=lf
*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicsMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tga binary
*.tiff binary
*.psd binary
*.pdf binary
*.mp3 binary
*.ogg binary
*.wav binary
*.fbx binary
*.obj binary
*.blend binary
*.dll binary
*.unitypackage binary
*.zip binary
